page-register {
    .bg {

        background: linear-gradient(160deg, #33B545 30%, #69D07D 70%);
    }

    .inputs {
        position: absolute;
        display: block;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        color: #fff;
        opacity: 0.6;
    }

    ion-item:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      ion-item:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      ion-item.item {
        background-color: rgba(255, 255, 255, 0.4);
        margin-bottom: 1px;
        .label {
          width: 10%;
          color: rgba(0, 0, 0, 0.6);
          font-size: 1.2em;
        }
      }
    // button {
    //     position: absolute;
    //     display: block;
    //     top: 50%;
    //     background: #fff!important;
    //     border: 1px solid #fff;
    //     box-shadow: 0px;
    //     color: black !important;
    // }

    button {
        color: white;
    
        &.button-rounded {
            display: block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border: 2px solid white;
            border-radius: 50%;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 10px;
            font-weight: bold;
        }
    }

    .avatar {
        border-radius: 100%;

      }

      .center {
        align-items: center;
      }

    .margin-top {
        height: 100%;
  display: block;
  vertical-align: middle;
    }

    .edit-button {
        color: white;
        font-size: 13px; 
        border-radius: 10px;
        padding: 5px;
        font-weight: bold;

      }


    
}
