<ion-header>

  <ion-navbar color="headertop">
    <ion-title>{{buddy.data().owner_name}}</ion-title>
    <ion-buttons end>
      <button (click)="removeall()" ion-button ion-icon>
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content #content>
  <div>
    <ion-list no-lines>
      <ion-item *ngFor="let item of allmessages; let i = index" text-wrap>
        <ion-avatar item-left *ngIf="item.data().sentby == buddy.id && buddy.data().photoURL">
          <img src="{{buddy.data().photoURL}}">
        </ion-avatar>
        <ion-avatar item-left *ngIf="item.data().sentby == buddy.id && !buddy.data().photoURL">
            <img src="assets/imgs/user.png">
          </ion-avatar>
        <div (click)="remove(item)" class="bubble me" *ngIf="item.data().sentby == buddy.id">
            <p *ngIf="item.data().timestamp" > {{ item.data().timestamp.toDate() | date: "dd/MM/yyyy HH:mm" }} </p>
          <h2>{{item.data().message}}</h2>
          <img *ngIf="item.data().img" [src]="item.data().img">
        </div>
        <ion-avatar item-right *ngIf="item.data().sentby != buddy.id && photoURL">
          <img src="{{photoURL}}">
        </ion-avatar>
        <ion-avatar item-right *ngIf="item.data().sentby != buddy.id && !photoURL">
            <img src="assets/imgs/user.png">
          </ion-avatar>
        <div (click)="remove(item)" class="bubbleme you" *ngIf="item.data().sentby != buddy.id">
            <p *ngIf="item.data().timestamp" style="color: white"> {{ item.data().timestamp.toDate() | date: "dd/MM/yyyy HH:mm" }} </p>
          <h2 style="color: white">{{item.data().message}}</h2>
          <img *ngIf="item.data().img" [src]="item.data().img">
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
    <ion-card bottom right *ngIf="matches">
        <img *ngIf="image" [src]="image" width="40%">
    </ion-card>
  <ion-toolbar color="light">
    <ion-item>
        <button ion-button clear icon-only item-left (click)="switchEmojiPicker()">
            <ion-icon name="md-happy"></ion-icon>
          </button>
          <button ion-button clear icon-only item-left (click)="sendPicMsg()">
            <ion-icon name="image"></ion-icon>
          </button>
      <ion-textarea #chat_input
                    rows="1" 
                    placeholder="กรอกข้อความขอบคุณ" 
                    [(ngModel)]="newmessage"
                    (keyup.enter)="addmessage()"
                    >
                  
      </ion-textarea>
      <button ion-button icon-only item-right clear (click)="addmessage()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>
    <emoji-picker [(ngModel)]="newmessage"></emoji-picker>
  </ion-toolbar>

</ion-footer>