<ion-header>

  <ion-navbar color="headertop">
    <ion-title>{{buddy.data().owner_name}}</ion-title>
    <ion-buttons end>
      <button (click)="removeall()" ion-button ion-icon>
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content #content>
  <div>
    <ion-list no-lines>
      <ion-item *ngFor="let item of allmessages; let i = index" text-wrap>
        <ion-avatar item-left *ngIf="item.data().sentby == buddy.id && buddy.data().photoURL">
          <img src="{{buddy.data().photoURL}}">
        </ion-avatar>
        <ion-avatar item-left *ngIf="item.data().sentby == buddy.id && !buddy.data().photoURL">
            <img src="assets/imgs/user.png">
          </ion-avatar>
        <div (click)="remove(item)" class="bubble me" *ngIf="item.data().sentby == buddy.id">
            <p *ngIf="item.data().timestamp" > {{ item.data().timestamp.toDate() | date: "dd/MM/yyyy HH:mm" }} </p>
          <h3>{{item.data().message}}</h3>
        </div>

        <ion-avatar item-right *ngIf="item.data().sentby != buddy.id && photoURL">
          <img src="{{photoURL}}">
        </ion-avatar>
        <ion-avatar item-right *ngIf="item.data().sentby != buddy.id && !photoURL">
            <img src="assets/imgs/user.png">
          </ion-avatar>
        <div (click)="remove(item)" class="bubbleme you" *ngIf="item.data().sentby != buddy.id">
            <p *ngIf="item.data().timestamp" style="color: white"> {{ item.data().timestamp.toDate() | date: "dd/MM/yyyy HH:mm" }} </p>
          <h3 style="color: white">{{item.data().message}}</h3>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer fixed>
  <ion-toolbar color="light">
    <ion-item>
      <ion-textarea rows="1" placeholder="กรอกข้อความขอบคุณ" [(ngModel)]="newmessage"></ion-textarea>
      <button ion-button icon-only item-right clear (click)="addmessage()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>
</ion-footer>