
<ion-list no-lines padding>
  <button ion-button block round color="headertop" (click)="addgroup()">
    <p>เพิ่มกลุ่ม</p>
  </button>
  <br>
  <ion-list-header>
    <h2>กลุ่มของฉัน</h2>
  </ion-list-header>
  <ion-item *ngFor="let item of groupowner">
    <ion-avatar item-left>
      <img src="{{item.groupimage}}">
    </ion-avatar>
    <h2 (click)="openchat(item)">{{item.groupName}}</h2>
  </ion-item>
  <ion-list-header>
    <h2>กลุ่มที่ฉันเป็นสมาชิก</h2>
  </ion-list-header>
  <ion-item *ngFor="let item of groupfriend">
    <ion-avatar item-left>
      <img src="{{item.groupimage}}">
    </ion-avatar>
    <h2 (click)="openchat(item)">{{item.groupName}}</h2>
  </ion-item>
</ion-list>