<ion-header #head>

  <ion-navbar text-center >
    <ion-title>กระดานข่าว</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only clear>
        <ion-icon name="ios-clipboard-outline"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>



</ion-header>


<ion-content hide-header [header]="head" style="background-color: #ECEBED">

  <ion-row margin class="rowStyle">
    <button ion-button icon-only color="headertop" clear (click)="changePostPicture()">
      <ion-icon name="images"></ion-icon>
    </button>

    <ion-textarea (keyup)="resize()" rows="1" placeholder="คุณกำลังคิดอะไรอยู่ ???" [(ngModel)]="text"></ion-textarea>

    <button ion-button icon-only color="headertop" clear (click)="post()">
        <ion-icon name="send"></ion-icon>
      </button>
  </ion-row>

  <ion-row class="rowStyle" *ngIf="image">
    <ion-card class="round-corners">
      <img [src]="image" class="round-corners">
    </ion-card>
  </ion-row>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div id="posts">
  <ion-card *ngFor="let post of posts" style="margin-bottom: 20px">
      <ion-item-divider color="headertop">
          <ion-avatar item-start *ngIf="post.data().photoUser">
              <img src="{{post.data().photoUser}}">
          </ion-avatar>
          <ion-avatar item-start *ngIf="post.data().photoUser == null">
              <img src="assets/imgs/user.png">
          </ion-avatar>
          <h2 style="color: white">{{ post.data().owner_name }}</h2>
          <p *ngIf="post.data().created" > {{ post.data().created.toDate() | date: "dd/MM/yyyy HH:mm" }} </p>
          <ion-icon *ngIf="post.data().owner == _uid" name="ios-create" item-right (click)="edit(post)"></ion-icon>
      <ion-icon *ngIf="post.data().owner == _uid" name="trash" item-right (click)="delete(post)"></ion-icon>
        </ion-item-divider>

    <ion-item item-wrap>
      <ion-label style="white-space: pre-line">{{ post.data().text }}</ion-label>
    </ion-item>

        <img [src]="post.data().image" *ngIf="post.data().image">
        
    <ion-row class="bottom-bar">
      <ion-col>
        <button  ion-button block icon-left clear small [color]="post.data().likes[_uid] ? 'primary':'headertop'" class="border-right" (click)="like(post)">
          <ion-icon name="thumbs-up"></ion-icon>
          <small>{{ post.data().likesCount || 0 }} Likes</small>
        </button>
      </ion-col>
      <ion-col>
          <button ion-button block icon-left clear small color="headertop"  class="border-right" (click)="comment(post)">
            <ion-icon name="text"></ion-icon>
            <small> {{ post.data().commentsCount || 0 }} Comments</small>
          </button>
        </ion-col>
        <ion-col>
            <button ion-button block icon-left clear small color="headertop" *ngIf="post.data().created">
              <small>{{ ago(post.data().created.toDate()) }}</small>
            </button>
          </ion-col>
    </ion-row>
  </ion-card>
</div>



  <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)">
    <ion-infinite-scroll-content >
      
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
