
<ion-list no-lines padding >
  <ion-list-header>
    คำร้องขอเป็นเพื่อน
  </ion-list-header>
  <ion-item-sliding *ngFor="let item of myrequest">
    <ion-item>
      <ion-avatar item-left *ngIf="item.data().photoURL">
        <img src="{{item.data().photoURL}}">
      </ion-avatar>
      <ion-avatar item-left *ngIf="!item.data().photoURL">
          <img src="assets/imgs/user.png">
        </ion-avatar>
      <h2>{{item.data().owner_name}}</h2>
    </ion-item>
    <ion-item-options>
      <button ion-button color="headertop" (click)="accept(item)">
        <ion-icon name="checkmark"></ion-icon>
      </button>
      <button ion-button color="danger" (click)="ignore(item)">
          <ion-icon name="trash"></ion-icon>
        </button>
    </ion-item-options>
  </ion-item-sliding>
  <ion-list-header>
      เพื่อนของคุณ
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of myfriends">
    <ion-item>
      <ion-avatar item-left *ngIf="item.data().photoURL">
        <img src="{{item.data().photoURL}}">
      </ion-avatar>
      <ion-avatar item-left *ngIf="!item.data().photoURL">
          <img src="assets/imgs/user.png">
        </ion-avatar>
      <h3>{{item.data().owner_name}}</h3>
    </ion-item>
    <ion-item-options>
      <button ion-button color="danger" (click)="unfriend(item)">
          <ion-icon name="trash"></ion-icon>
        </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
