<!--
  Generated template for the EdituserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar text-center>
    <ion-title>แก้ไขข้อมูลส่วนตัว</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>
      <ion-list-header color="headertop">ชื่อผู้ใช้</ion-list-header>
    <ion-item>
      <ion-input type="text" [(ngModel)]="user.owner_name"></ion-input>
    </ion-item>
    <ion-list-header color="headertop">อายุ</ion-list-header>
    <ion-item>
      <ion-input type="text" [(ngModel)]="user.age"></ion-input>
    </ion-item>
    <ion-list-header color="headertop">เบอร์โทรศัพท์</ion-list-header>
    <ion-item>
      <ion-input type="text" [(ngModel)]="user.phone"></ion-input>
    </ion-item>
    <ion-list-header color="headertop">โรคประจำตัว</ion-list-header>
    <ion-item *ngFor="let dis of user.disease">
        <ion-label text-center>{{dis}}</ion-label>
    </ion-item>
    <ion-item>
        <button ion-button block round color="headertop" (click)="editdisease()">แก้ไขโรค</button>
    </ion-item>

    <ion-list-header *ngIf="checkdiabetes" color="headertop">ระบุระดับน้ำตาลในเลือด</ion-list-header>
    <ion-item *ngIf="checkdiabetes">
      <ion-input type="text" [(ngModel)]="user.diabetes"></ion-input>
    </ion-item>

    <ion-list-header *ngIf="checkpress" color="headertop">ระบุความดันโลหิต</ion-list-header>
    <ion-item *ngIf="checkpress">
      <ion-input type="text" [(ngModel)]="user.press"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer no-padding>
    <button ion-button block color="headertop" (click)="edituser()">บันทึกการแก้ไข</button>
</ion-footer>