<ion-header>

  <ion-navbar text-center>
    <ion-title>{{groupName}}</ion-title>
    <ion-buttons end>
      <button *ngIf="owner" ion-button icon-only (click)="presentOwnerSheet()">
        <ion-icon name="menu"></ion-icon>
      </button>
      <button *ngIf="!owner" ion-button icon-only (click)="presentMemberSheet()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <div>
    <ion-list no-lines>
      <ion-item *ngFor="let item of allgroupmsgs; let i = index" text-wrap>
          <ion-avatar item-right *ngIf="item.data().sentby === alignuid && photoURL">
              <img src="{{photoURL}}">
            </ion-avatar>
        <ion-avatar item-right *ngIf="item.data().sentby === alignuid && !photoURL">
          <img src="assets/imgs/user.png">
        </ion-avatar>
        <div class="bubble you" *ngIf="item.data().sentby === alignuid">
          <h6 style="color: mediumpurple;">{{item.data().displayName}}</h6>
          <h2 >{{item.data().message}}</h2>
          <p *ngIf="item.data().timestamp" > {{ item.data().timestamp.toDate() | date: "dd/MM/yyyy HH:mm" }} </p>
        </div>
        <ion-avatar item-left *ngIf="item.data().sentby != alignuid && item.data().photoURL">
            <img src="{{item.data().photoURL}}">
          </ion-avatar>
        <ion-avatar item-left *ngIf="item.data().sentby != alignuid && !item.data().photoURL">
          <img src="assets/imgs/user.png">
        </ion-avatar>
        <div class="bubble me" *ngIf="item.data().sentby != alignuid">
          <h6 style="color: mediumvioletred;">{{item.data().displayName}}</h6>
          <h2 >{{item.data().message}}</h2>
          <p *ngIf="item.data().timestamp" > {{ item.data().timestamp.toDate() | date: "dd/MM/yyyy HH:mm" }} </p>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
    <ion-toolbar color="light">
        <ion-item>
        <ion-textarea autocomplete="on" spellcheck="true" rows="1" placeholder="กรอกข้อความขอบคุณ" [(ngModel)]="newmessage"></ion-textarea>
        <button ion-button icon-only item-right clear (click)="addgroupmsg()">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-item>
      </ion-toolbar>  
</ion-footer>