<ion-header >
    <ion-navbar text-center [color]="isRecording ? 'danger' : 'headertop'">
      <ion-title>
        ปู่จอห์น
      </ion-title>

    </ion-navbar>
    <ion-fab style="margin-top: -18px;margin-right: -10px" top right>
        <button color="headertop" ion-fab mini><ion-icon name="menu"></ion-icon></button>
        <ion-fab-list>
          <button ion-fab>
              <ion-icon name="body"></ion-icon>
        </button>
          <button ion-fab><ion-icon name="cloudy"></ion-icon>
          </button>
          <button ion-fab><ion-icon name="eye"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
  </ion-header>
  
  <ion-content padding style="background-color: #ECEBED">

    <ion-fab bottom right>
      <button ion-fab color="danger" (click)="startListening()">
        <ion-icon name="mic"></ion-icon>
      </button>
    </ion-fab>

  
    <ion-list no-lines class="chat-list">
      <ion-item *ngFor="let message of messages" class="chat-item" text-wrap>
        <ion-avatar item-left *ngIf="message.sender == 'api'">
          <img src = "assets/imgs/bot.png">
        </ion-avatar>
        <ion-avatar item-right *ngIf="message.sender == 'me' && img">
            <img *ngIf="img" [src] = "img" class="avatar">
          </ion-avatar>
          <ion-avatar item-right *ngIf="message.sender == 'me' && !img" >
              <img src = "assets/imgs/user.png" class="avatar">
            </ion-avatar>
          <div *ngIf="message.sender == 'api'" class="bubble me">
            <h2 *ngIf="message.text">{{message.text}}</h2>
              <ion-grid *ngIf="message.button">
                <ion-row *ngFor="let b of message.button">
                      <button ion-button round color="primary" block (click)="sendButton(b)">{{b}}</button>
                </ion-row>
              </ion-grid>

                <div *ngIf="message.list">
                  <h2 *ngFor="let l of message.list">
                      {{l}}
                  </h2>
                </div>
            
          </div>
          <div *ngIf="message.sender == 'me'" class="bubbleme you">
              <h2>{{message.text}}</h2>
            </div>
      </ion-item>
    </ion-list>
  
  </ion-content>
  <ion-footer>
      <ion-card bottom right *ngIf="text.length > 2 && disease.length !== 0">
          <ion-card-content>
            <ion-item *ngFor="let dis of disease | slice:0:3" (click)="sendAutofill(dis.data().search)">
              {{ dis.data().search }}
            </ion-item>
          </ion-card-content>
      </ion-card>
    <ion-toolbar color="light">
      <ion-item>
          <ion-searchbar [(ngModel)]="text" (ionInput)="searchuser($event)" placeholder="กรอกข้อความของคุณ"></ion-searchbar>
      <!-- <ion-textarea autocapitalize="sentences" 
                    autocomplete="on"
                    spellcheck="true"
                    autocorrect="on" 
                    rows="1" 
                    placeholder="กรอกข้อความขอบคุณ" 
                    [(ngModel)]="text">
      </ion-textarea> -->
      <button ion-button icon-only item-right clear (click)="sendText()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>
    </ion-toolbar>  
  </ion-footer>
  