<ion-header >
    <ion-navbar text-center [color]="isRecording ? 'danger' : 'headertop'">
      <ion-title>
        ปู่จอห์น
      </ion-title>

    </ion-navbar>
    <ion-fab style="margin-top: -18px;margin-right: -10px" top right>
        <button color="headertop" ion-fab mini><ion-icon name="menu"></ion-icon></button>
        <ion-fab-list>
          <button ion-fab>
              <ion-icon name="body"></ion-icon>
        </button>
          <button ion-fab><ion-icon name="cloudy"></ion-icon>
          </button>
          <button ion-fab><ion-icon name="eye"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
  </ion-header>
  
  <ion-content padding>

    <ion-fab bottom right>
      <button ion-fab color="danger" (click)="startListening()">
        <ion-icon name="mic"></ion-icon>
      </button>
    </ion-fab>

  
    <ion-list no-lines class="chat-list">
      <ion-item *ngFor="let message of messages" class="chat-item" text-wrap>
        <ion-avatar item-left *ngIf="message.sender == 'api'">
          <img src = "assets/imgs/bot.png">
        </ion-avatar>
        <ion-avatar item-right *ngIf="message.sender == 'me' && img">
            <img *ngIf="img" [src] = "img" class="avatar">
          </ion-avatar>
          <ion-avatar item-right *ngIf="message.sender == 'me' && !img" >
              <img src = "assets/imgs/user.png" class="avatar">
            </ion-avatar>
          <div *ngIf="message.sender == 'api'" class="bubble me">
            <h3>{{message.text}}</h3>
          </div>
          <div *ngIf="message.sender == 'me'" class="bubbleme you">
              <h3>{{message.text}}</h3>
            </div>
      </ion-item>
    </ion-list>
  
  </ion-content>
  <ion-footer>
      <ion-card bottom right *ngIf="matches">
          <ion-card-content>
            <ion-item *ngFor="let match of matches" (click)="sendVoice(match)">
              {{ match }}
            </ion-item>
          </ion-card-content>
      </ion-card>
    <ion-toolbar color="light">
      <ion-item>
      <ion-textarea autocomplete="on" spellcheck="true" rows="1" placeholder="กรอกข้อความขอบคุณ" [(ngModel)]="text"></ion-textarea>
      <button ion-button icon-only item-right clear (click)="sendText()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>
    </ion-toolbar>  
  </ion-footer>
  