<ion-header >
    <ion-navbar text-center [color]="isRecording ? 'danger' : 'headertop'">
      <ion-title>
        ปู่จอห์น
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>

    <ion-fab bottom right>
      <button ion-fab color="danger" (click)="startListening()">
        <ion-icon name="mic"></ion-icon>
      </button>
    </ion-fab>

  
    <ion-list no-lines class="chat-list">
      <ion-item *ngFor="let message of messages" class="chat-item" text-wrap>
        <ion-avatar item-left *ngIf="message.sender == 'api'">
          <img src = "assets/imgs/bot.png">
        </ion-avatar>
        <ion-avatar item-right *ngIf="message.sender == 'me'">
            <img src = "{{img}} != null ? '{{img}}' : 'assets/imgs/user.png'">
          </ion-avatar>
          <div *ngIf="message.sender == 'api'" class="bubble me">
            <h3>{{message.text}}</h3>
          </div>
          <div *ngIf="message.sender == 'me'" class="bubbleme you">
              <h3>{{message.text}}</h3>
            </div>
      </ion-item>
    </ion-list>
  
  </ion-content>
  <ion-footer>
      <ion-card bottom right *ngIf="matches">
          <ion-card-content>
            <ion-item *ngFor="let match of matches" (click)="sendVoice(match)">
              {{ match }}
            </ion-item>
          </ion-card-content>
      </ion-card>
    <ion-toolbar color="light">
      <ion-item>
      <ion-textarea rows="1" placeholder="กรอกข้อความขอบคุณ" [(ngModel)]="text"></ion-textarea>
      <button ion-button icon-only item-right clear (click)="sendText()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>
    </ion-toolbar>  
  </ion-footer>
  